/*
.carousel-container{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 5rem;
    z-index: inherit;
}

.carousel-centro {
    width: 100%;
    height: auto;
    background-color: red;
    z-index: -1;
    order: 2;
}

.carousel-imagen{
    width: 100%;
    height: 44rem;
    object-fit: cover;
}

.carousel-boton-siguiente{
    order: 1;
    z-index: 1;
}

.carousel-boton-anterior{
    order: 3;
    z-index: 1;
}

.boton-siguiente{
    height: 100%;
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    width: 40px;
}

.boton-anterior{
    height: 100%;
    position: absolute;
    left: 0px;
    background: none;
    border: none;
    width: 40px;

    font-weight: 900;
}
*/
.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  