:root{
  --appBlue: rgba(202,215,237,1);
  --blackBlue: rgba(40,61,98,1);
}

.card{
width: 80vw;
height: 240px;
transition: 900ms;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
margin:0px;
padding-top: 60px;
padding-bottom: 20px ;
background: #FFFFFF;
box-shadow: 15px 15px 40px -10px rgba(0, 92, 255, 0.46);
border-radius: 60px;
}
.cardOpen{
  height: auto;
  min-height: 1000px !important;
  transition: 300ms !important;
  padding: 0px !important;
  }
.locator{
  margin: 40px;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.ic{
  font-size: 40px;
  color:rgba(0, 0, 0, 0.4);
  transition: 600ms;
  
}
.icOpen{
  rotate: 180deg;
}
.card-row-title{
  justify-content: space-evenly;
  flex-direction: row;
  width: 80vw ;
  align-items: center;
  display: flex;
  transition: 600ms;
}
.card-title{
  position: relative;
  background-color: transparent;
}
.card-title-sm{
  position: absolute !important;
  padding-left: 25px;
  padding-right: 25px;
  transition: 300ms;
  background-color: rgba(0, 0, 0,.87) !important;
  max-width: 40vw;
  color: #FFFFFF;
  font-size: .5rem;
  text-align: center;
  z-index: 9;
}
.title-open{
  position: absolute !important;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(0, 0, 0,.87) !important;
  max-width: 40vw;
  font-size: 1rem;
  text-align: center;
  color: #FFFFFF;
  z-index: 9;
}

.imageCard{
  height: 100%;
  width: 100%;
  margin: 0;
  object-fit: cover;
  border-radius: 25px;
  transition: 600ms;


}.card-img-container-sm{
  z-index: 0;
  overflow: hidden;
  border-radius: 45px;
  width: 80%;
  min-width: 180px;
  transition: 600ms;
  height: 30vw;
  background-color: rgb(40, 61, 98);
}
.card-img-container{
  border-radius: 25px;
  width: 20%;
  min-width: 180px;
  transition: 600ms;
  height: 180px;
  background-color: rgb(40, 61, 98);
}
.card-img-container-open{
  width:100% ;
  max-height: 60vh;
  height: 600px;
  border-radius: 60px;
  box-shadow: 0px 35px 25px -15px rgba(0, 0, 0, 0.7);
}
.card-img-container-open .imageCard{
  border-radius: 60px;
  opacity: .5;

}
.card-body{
  margin: 80px;
}
.card-body-text{
  font-weight: 500;
  font-size: 20px;
  color: var(--blackBlue);
}