

@media(max-width:600px){
    
}


@media(min-width:900px){
    .iconos {
        display: flex;
        align-content: space-between;

        align-items: center;
        height: 25rem;
        width: 100%;
        padding-top: 2rem;
        background: -webkit-linear-gradient(to bottom, #CAD7ED, #FFFFFF);
        background: linear-gradient(to bottom, #CAD7ED, #FFFFFF);
    }

    .exContainer{
        width: 25%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    
    .container{
        position: inherit;
        background-color: #283D62;
        border-radius: 7px;
        height: 180px;
        width: 45%;
        aspect-ratio: inherit;
    }

    .cajaTextos{
        display: flex;
        justify-content: center;
    }
}


.text{
    color: black;
    font-weight: bold;
}

.icono{
    object-fit: fill;
    display: flexbox;
    width: 100%;
    height: 100%;
}